@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-slate-700;
}

body {
  @apply bg-slate-900 text-white;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-700 hover:bg-slate-600;
}
